# Backend essentials
node_modules/
.env
data.json

# Original Frontend Source (to be hidden)
/index.html
/admin.html
/app.js
/admin-logic.js
/styles.css
/script.js
/obfuscate.js
/obfuscate.py
/custom cursor/
/images/
/obfuscated/

# UNIGNORE THE PRODUCTION BUILD
!/docs/
!/docs/**
!server.js
!package.json
!package-lock.json
